BREVO_API_KEY=
BREVO_SENDER_EMAIL=quickservee1202@gmail.com
BREVO_RECEIVER_EMAIL=quickservee1202@gmail.com
PORT=5000
BREVO_WEBSITE_HELP_TO=quickservee1202@gmail.com
VITE_WEBSITE_HELP_API_URL=https://backend-websitecreation.onrender.com/send-website-help-email
